<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landingStyle.css">

    <title>Bavard</title>
    <div class="header">
        <div class="logo">
            CdoGGo
        </div>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/auth/logout">logout</a></li>
            <li><a href="#">News</a></li>
        </ul>
    </div>

</head>
<link rel="stylesheet" href="/landingStyle.css">

<body>
    <div class="container">
        <div class="btn">
            <button class="buttonItem" onclick="location.href='/join'">회원가입</button>
            <button class="buttonItem" onclick="location.href='/login'">로그인</button>
        </div>
    </div>
</body>
</html>